@CHARSET "UTF-8";

div.clear {
	float: none;
	clear: both;
	width: 100%;
	height: 15px;
}

#elem1{
	left: 310px;
	width: auto !important;
}

div.readmore_hidden {
	display: none;
	position: relative;
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid black;
	padding: 2px;
}

div.readmore_hidden a.readmore_hidden_close {
	display: block;
	width: 16px;
	height: 16px;
	background: url("../images/dialog_close.png") no-repeat;
	float: right;
}

table.std-cards-outer {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

table.std-cards-outer tr td {
	vertical-align: top; 
}

table.std-cards-outer tr td table.std-cards-inner tr td {
	vertical-align: top;
}

div.custom-design-info {
	border: 1px solid #00ffff;
	background-color: #50b848;
}

div.hidden {
	display: none;
}

dic.card-images-grouper {
	margin-bottom: 100px;
}

div.imgContainer {
	float: left;
	margin-right: 15px;
	padding: 10px;
	border: 3px solid #ffffff;
}

div#preview {
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	width:331px;
	height:212px;
}

div#preview img#card-bg {
	z-index: 10;
}

div#preview img {
	position: absolute;
}

.error {
	color: #ff0000;
	font-size: small;
}

.success {
	color: #00ff00;
	font-size: small;
}


/*branch select*/
.select-display {
	width: /*800*/682px;
	height: 18px;
	border: 1px solid #cccccc;
	clear: both;
	margin: 10px 0;
}
.select-display-smaller {
    width: 420px;
}
.select-label {
	background: url("arrow_down.gif") no-repeat right center;
	font-size: 13px;
	line-height: 13px;
	padding: 3px 12px 3px 3px;
	cursor: pointer;
}
.select-items-container {
	width: /*797*/678px;
	overflow: auto;
	height: 150px;
	border: 1px solid #cccccc;
	margin: 2px 0 0 0;
	padding: 0 0 0 3px;
}
.select-items-container-smaller {
    width: 417px;
}
.select-items-container ul.select-items {
	list-style: none;
	font-size: 13px;
	padding: 0;
	margin: 0;
}
.select-items-container ul.select-items li {
	background: none !important;
	padding: 0;
	padding: 0 0 0 10px;
}
.select-items-container ul.select-items li.select-item-top-header {font-weight: bold;color: #50b848;font-size: 16px;padding-top: 10px !important;}
.select-items-container ul.select-items li.padd1 {padding: 0 0 0 10px !important;}
.select-items-container ul.select-items li.padd2 {padding: 0 0 0 20px;}
.select-items-container ul.select-items li.select-item {
	cursor: pointer;
	color: #aaaaaa;		
}
.select-items-container ul.select-items li.select-item:hover {
	cursor: pointer;
	color: #000000;
}
.select-items-container ul.select-items li.select-item-subheader {
	font-weight: bold;
	padding: 0;
}
/*************************************************************************************************/
body{
	margin:0;
	overflow-x:hidden;
	padding-bottom: 50px;
}
form{
	margin-bottom:20px;
}
a#gotostart{
	margin-bottom:70px;
}
form input[type="text"], form select {
   /* left: 220px;
    position: absolute;*/
}
.error{
	padding:5px 0;
}
select#logo-pos{
	margin:5px 0 5px 255px;
}
.radiogroup {
    width: 390px;
}
.yellow-button{
	background: #f8f200 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f200 0%, #f2d400 100%)  !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f200), color-stop(100%,#f2d400))  !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f200 0%,#f2d400 100%)  !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f200 0%,#f2d400 100%)  !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f200 0%,#f2d400 100%)  !important; /* IE10+ */
	background: linear-gradient(to bottom,  #f8f200 0%,#f2d400 100%)  !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f200', endColorstr='#f2d400',GradientType=0 )  !important; /* IE6-9 */
	color:#111 !important ;
	border-radius: 7px;
    bottom: 15px;
    display: inline-block;
    left: 15px;
    line-height: normal;
    margin-top: 5px;
    padding: 10px 25px;
    text-decoration: none !important;
    border:1px solid #f2d400  !important;
    text-shadow: 1px 1px 1px #ffffff  !important;
    font-size:105%;
}
.yellow-button:hover{
	background: #f2d400  !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2d400 0%, #f8f200 100%)  !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2d400), color-stop(100%,#f8f200))  !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2d400 0%,#f8f200 100%)  !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2d400 0%,#f8f200 100%)  !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2d400 0%,#f8f200 100%)  !important; /* IE10+ */
	background: linear-gradient(to bottom,  #f2d400 0%,#f8f200 100%)  !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d400', endColorstr='#f8f200',GradientType=0 )  !important; /* IE6-9 */
	text-shadow: none;
}
#fileatt {
	float:right;
    cursor: pointer;
    position: relative;
    right: 0;
    left: -10px;
    text-align: center;
    top: 0;
    width: 200px;
}
form{
	width:720px;
}
.catLabel{
 	float: left;
    margin: 7px 0;
    width: 120px;
}
#catsList ul{
float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#catsList li{
	background: none repeat scroll 0 0 #ffffff !important;
    border: 2px solid #fcf537;
    float: left;
    margin: 2px 5px;
    padding: 3px 5px;
    cursor:pointer;
}
#catsList li.active{
	background:none repeat scroll 0 0 #fcf537 !important;
}
.imagesCategory{
	clear:both;
}
.imagesCategory ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:600px;
    float:right;
}
.imagesCategory li{
	background: none repeat scroll 0 center rgba(0, 0, 0, 0) !important;
    border: 2px solid #ffffff;
    border-radius: 8px;
    float: left;
    height: 120px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 180px;
}
.imagesCategory img{
	width:180px;
	height:120px;
	border-radius:6px;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
}